@import url('hyyps://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&dispaly=swap');
@font-face {
    font-family: 'Giddyup Std';
    src: url(..//giddyup-std/GiddyupStd.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    font-family: 'Giddyup Std', sans-serif;
    position: relative;
    font-size: 2.3rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7em;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 40px;
    transition: .2s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    text-decoration: underline;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('.//IMG/fix-00182\ \(1\).jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 50rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.6;
}

.home-content .text-animate {
    position: relative;
    width: 40rem;
}

.home-content .text-animate h3 {
    font-size: 5.1rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -40rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 3rem 0 4rem;
    text-align: justify;
}

.btn-box, 
.btn-boy {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 15rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--bg-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before{
    background: var(--main-color);
    width: 100%;
}

.btn-boy .btnx {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-boy .btnx:hover {
    color: var(--main-color);
}

.btn-boy .btnx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.btn-boy .btnx:hover::before {
    background: var(--bg-color);
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .2s;
}

.home-sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    background-color: var(--bg-color);
    opacity: .8;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 7rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3{
    font-size: 3rem;
}

.about-content p {
    padding: 0 5%;
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
}

.btn-boy.btnx {
    margin: 2rem 0 0;
    display: inline-block;
    width: 15rem;
}

.btn-boy.btnx a::before {
    background: var(--bg-color);
}

.results {
    min-height: auto;
    padding-bottom: 5rem;
}

.album-videos {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.album-videos .videos {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 5rem 0;
}

.album-videos .videos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    z-index: -1;
}

.album-videos .videos::after {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    right: 0;
    bottom: 0;
    background: #419aff;
    border-radius: 50%;
    z-index: -1;
}

.videos img {
    position: relative;
    width: 90%;
    height: auto;
    box-shadow: 0 1rem 5rem black;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(#5ddcff, #3c67e3, #4e00c2) 1;
}

.album-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.album-img .gambar {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 5rem;
}

.gambar .images {
    flex: 1 1 40rem;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 0 1rem 5rem black;
}

.gambar .images img{
    height: auto;
    width: 100%;
    border-radius: 3rem;
}

.shop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5rem;
    background: var(--second-bg-color);
}

.box-container {
    display: grid;
    width: 100%;
    padding-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
    justify-content: left;
    flex-wrap: wrap;
    gap: 5rem;
}

.box-container .box {
    position: relative;
    max-width: 90rem;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 1rem 5rem var(--bg-color);
}

.box .box-img {
    overflow: hidden;
}

.box img {
    height: auto;
    width: 100%;
    border-radius: 3rem;
    padding: 2rem;
}

.box-container .box .content {
    padding: 2rem;
}

.box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--text-color);
}

.box-container .box .content p {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 1rem 0;
    text-align: justify;
}

.box-container .box .content .stars i {
    font-size: 1.7rem;
    color: orange;
}

.box-container .box .content .price {
    font-size: 2rem;
    color: var(--text-color);
    padding-top: 1rem;
}

.box-container .box .content .price span {
    color: var(--main-color);
    font-size: 1.5rem;
    text-decoration: line-through;
}

.review {
    background: var(--second-bg-color);
}

.testimonial-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-content .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--bg-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--bg-color);
    border-bottom: .8rem solid var(--bg-color);
}

.testimonial-slide img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid transparent;
    outline: .5rem solid var(--main-color);
}

.testimonial-slide h3 {
    font-size: 2.5rem;
    margin: 2rem 0;
}

.testimonial-slide p {
    font-size: 1.4rem;
    text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev{
    color: var(--main-color);
}

.testimonial-box .swiper-button-next {
    right: 0;
}
.testimonial-box .swiper-button-prev {
    left: 0;
}

.testimonial-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active {
    background: var(--main-color);
}

.blog {
    min-height: auto;
    padding-bottom: 7rem;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.blog-container .btn-blog {
    padding: 1rem 0;
    flex: 15rem;
}

.blog-container .btn-blog h3 {
    font-size: 2.5rem;
    padding: .7rem 0;
    color: var(--text-color);
}

.blog-container .btn-blog p {
    font-size: 1.5rem;
    text-align: justify;
    padding: .7rem 0;
    color: var(--text-color);
}

.blog-container .btn-blog a {
    display: block;
    font-size: 1.5rem;
    padding: .7rem 0;
    color: var(--text-color);
}

.blog-container .btn-blog a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.maps {
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.maps h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

iframe {
    border-radius: 2rem;
    width: 100%;
    height: 400px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-text a {
    color: var(--text-color);
}

.footer-text a:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: transparent;
    }

    #menu-icon {
        display: block;
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .album-videos .videos::before {
        width: 130px;
        height: 130px;
    }
    
    .album-videos .videos::after {
        width: 130px;
        height: 130px;
    }

    .testimonial-container .testimonial-wrapper {
        padding: 5rem 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    }
}

@media  (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: inline;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }

    .album-videos .videos::before {
        width: 120px;
        height: 120px;
    }
    
    .album-videos .videos::after {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 6rem;
    }

    .home-content p{
        text-align: justify;
    }

    .album-videos .videos::before {
        width: 110px;
        height: 110px;
    }
    
    .album-videos .videos::after {
        width: 110px;
        height: 110px;
    }

    .shop {
        padding: 10rem 4% 5rem 5%;
    }

    .blog {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .btn-box {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content p {
        text-align: center;
    }

    .home-content h1 {
        font-size: 5.5rem;
    }
    
    .album-videos .videos::before {
        width: 100px;
        height: 100px;
    }
    
    .album-videos .videos::after {
        width: 100px;
        height: 100px;
    }

    .box-container {
        display: flex;
        align-items: center;
        text-align: center;
    }
}

@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -40rem 0;
    }
    
    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%,
    10%,
    100% {
        width: 0;
    }
    
    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}